

body{
    width:75%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding:50px;
    margin:50px;
    align-self: center;
    top:50px
    

    

}

#logo{
    height: auto;
    width:auto;
    max-height: 50%;
    max-width: 50%;
}

