/* /static/css/index.css */

/* General Styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
    margin: 0;
    padding: 0;
}

#content {
    margin-top: 10%;
}

h1 {
    color: #333;
    margin-top: 20px;
}

/* Logo Styling */
#logo {
    max-width: 500px;
    margin-top: 20px;
}

/* Input and Button Styling */
input[type="text"] {
    padding: 10px;
    margin: 20px 0;
    width: 80%;
    max-width: 300px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

#chatButton {
    padding: 10px 20px;
    border: none;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
}

#chatButton:hover {
    background-color: #0056b3;
}

#pfp {
    padding: 5px;
}

.pfp-icon  {
    padding: 2px;
    border: 2px solid transparent;
    border-radius: 100%;
    background-color: transparent;
}

#pfp button.pfp-icon:hover {
    border-color: #007bff;
}





ul {
    list-style-type: none;
  }
  
  li {
    display: inline-block;
  }
  
  input[type="radio"][id^="cb"] {
    display: none;
  }
  
  label {
    padding: 10px;
    display: block;
    position: relative;
    margin: 10px;
    cursor: pointer;
    
  }
  
  label:before {
    background-color: white;
    color: white;
    content: " ";
    display: block;
    border-radius: 50%;
    position: absolute;
    top: -5px;
    left: -5px;
    width: 25px;
    height: 25px;
    text-align: center;
    line-height: 28px;
    transition-duration: 0.4s;
    transform: scale(0);
  }
  
  label img {
    transition-duration: 0.2s;
    transform-origin: 50% 50%;
    border-radius: 100%;
  }
  
  :checked + label {
    border-color: #ddd;
  }
  
  :checked + label:before {
    
    background-color: grey;
    transform: scale(1);
  }
  
  :checked + label img {
    transform: scale(0.9);
    box-shadow: 0 0 5px #333;
    z-index: -1;
  }