<!-- templates/chat.html -->

<!DOCTYPE html>
<html>
<head>
    <title>Chat Application</title>
    <link rel="stylesheet" type="text/css" href="/static/css/chat.css">
</head>
<body>
    <a href="/"> <img id="logo" src="/static/assets/logo.png"> </a>
    <h1>Chatroom!</h1>
    <div class="container">
        <input type="text" id="messageInput" placeholder="Enter your message...">
        <button onclick="sendMessage()">Send</button>
        <button onclick="changeName()">Change Nickname</button>
    </div>
    <ul id="messages"></ul>
    <script src="/static/js/scripts.js"></script>
</body>
</html>
